[user]
    name = {{ git.name }}
    email = {{ git.email }}
[core]
    excludesfile = /Users/{{ serverUsername }}/.gitignore_global
    autocrlf = input
    mergeoptions = --no-edit
[alias]
    s = status
    f = fetch
    a = add
    aa = add --all
    c = commit -m
    ca = commit -am
    co = checkout
    m = merge --no-ff
    l = log --oneline --decorate --graph
    b = branch
    rh = reset HEAD --hard
    ip = add -ip
    t = tag
    fp = reset --hard origin/HEAD
[color]
    ui = true
[push]
    default = matching